<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fe9866">  <td>16/07/16 17:28:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCases.SetUpBrowser()[pri:0, instance:com.avenuecode.functionaltesting.test.TestCases@6b8ca3c8]">&gt;&gt;SetUpBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@270095066</td>   <td></td> </tr>
<tr bgcolor="fe9866">  <td>16/07/16 17:28:47</td>   <td>6535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.VerifyloginPageTest()[pri:1, instance:com.avenuecode.functionaltesting.test.TestCases@6b8ca3c8]">VerifyloginPageTest</td> 
  <td>main@270095066</td>   <td></td> </tr>
<tr bgcolor="fe9866">  <td>16/07/16 17:28:48</td>   <td>7820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.VerifyAddNewTasksTest()[pri:2, instance:com.avenuecode.functionaltesting.test.TestCases@6b8ca3c8]">VerifyAddNewTasksTest</td> 
  <td>main@270095066</td>   <td></td> </tr>
<tr bgcolor="fe9866">  <td>16/07/16 17:28:49</td>   <td>8648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.VerifyAddNewSubTasksTest()[pri:3, instance:com.avenuecode.functionaltesting.test.TestCases@6b8ca3c8]">VerifyAddNewSubTasksTest</td> 
  <td>main@270095066</td>   <td></td> </tr>
<tr bgcolor="fe9866">  <td>16/07/16 17:29:19</td>   <td>38901</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCases.getReport()[pri:0, instance:com.avenuecode.functionaltesting.test.TestCases@6b8ca3c8]">&lt;&lt;getReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@270095066</td>   <td></td> </tr>
</table>
